<div *ngIf="winner; else elseBlock" class="winnerContainer">
  <h1>Game Over!</h1>
  <h3>
    You win,
    <span
      [style.color]="
        winner === 'Red' ? 'var(--redCircle)' : 'var(--blueCircle)'
      "
      >{{ winner }}</span
    >!
  </h3>
</div>
<ng-template #elseBlock>
  <h1>Welcome to Connect 4!</h1>
  <h3>
    Your turn,&nbsp;<span
      [style.color]="redIsNext ? 'var(--redCircle)' : 'var(--blueCircle)'"
      >{{ redIsNext ? "Red" : "Blue" }}</span
    >
  </h3>
</ng-template>
<button
  (click)="startNewGame()"
  [style.visibility]="winner ? 'visible' : 'hidden'"
>
  Play Again?&nbsp;<fa-icon [icon]="faSync"></fa-icon>
</button>
